#navbar{
    width: 100%;
    height: 50px;
    display: flex; 
}
.left{
    height: 100%;
    background-color:blue;
    width: 50%;
}
.right{
    height: 100%;
    background-color:red;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}